<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/teams"></ion-back-button>
  </ion-buttons>

  <ion-title>{{ teamName }}</ion-title>

</ion-toolbar>



<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" sizeMd="3" *ngFor="let pokemon of pokemons">
        <ion-card style="cursor: pointer">
          <ion-img
            [src]="pokemon.image"
            alt="{{ pokemon.name }}"
            (click)="goToDetails(pokemon.id)"
          >
          </ion-img>
          <ion-card-header>
            <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-text-center ion-margin">
  <ion-button color="danger" fill="solid" (click)="deleteTeam()">
    <ion-icon name="trash" slot="start"></ion-icon>
    Excluir
  </ion-button>
</div>

</ion-content>
